*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f1eeeef3;
    min-width: 100%;
}

.logoImg{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    transition: filter 0.1s ease-in-out;
}
.logoImg:hover{
   filter: invert(1);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.heading{
    width: 100%;
    background: #007bff;
    color: white;
    padding: 30px 0;
    text-align: center;
}
.heading h1{
    font-size: 50px;
}
nav ul {
    list-style: none;
    padding: 15px 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
nav ul li a:after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    background: #26a69a;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
 }
nav ul li a:hover{
   color: #6ae6d9;
}
#crossimg{
    width: 20px;
    height: 20px;
    display: none;
    top: 25px;
    left: 25px;
    position: absolute;
    cursor: pointer;
}
#menuimg{
    width: 20px;
    height: 20px;
    display: none;
}

.heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}
.heading2-h2{
    color:#333;
} 

.search-bar {
    background: white;
    border-radius: 30px;
    display: flex; 
    align-items: center;
    padding: 5px; 
    width: fit-content; 
    margin: 15px 0;
}

.search-bar input {
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 14px; 
    width: 350px; 
    border-radius: 20px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-bar button img {
    width: 20px; 
    height: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 25px;
}
.container a{
    text-decoration: none;
}
.card{
    width: 300px;
    height: 250px;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #333;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 15px;
}  
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.card:hover .hospital-image {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.hospital-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.text{
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 3;
}


footer{
    background: #333;
}
.foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #333;
    color: #f1eeeef3;
    padding: 50px;
    gap: 50px;
}
.footer-elements{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
}
.footer-elements h3{
   font-weight: 900;
}
.footer-elements a{
    font-weight: 200;
    text-decoration: none;
    color:  #f1eeeef3;
}
.footer-elements a:hover{
    color: #26a69a;
    font-weight: 400;
}
.rights{
    height: 5rem;
    padding: 10px 0;
    color: white;
    display: flex;
    justify-content: center;
}
